.repos {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  padding: 20px 20px;
  overflow: hidden;
  min-width: 600px;
}

.repos table {
  min-width: 600px;
  width: 100%;
}
